/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	color: $creme-1;
	line-height: 1.5;
	text-align: left;
	margin: $space*2 auto 0;
	width:100%;
	background: $drk-brwn;
	padding:$padpx-double 0 0;
	font-family: $font-secondary;
	font-weight:300;

	.nav-foot {
		a {
			line-height: 30px;
			height: 30px;
			width: 100%;
			display: block;
		}

	}

	.lc {
		padding: $pad $pad 0;
	}


	a {
		color: $creme;
		text-decoration:none;
		&:hover {
			color:$gold;
		}
	}
	

	.nav-social {
		padding: 0 0 12px;
	}

    .credits {
 		font-size: .75em;
   		clear:both;
	    padding: 0;
	    margin:0 0 $space-double;
	    text-align:right;

	    p {
	    	margin-bottom: 13px;
	    }
		
		@media all and (max-width: $bp-med) {
			text-align:center;
			margin-top:2rem;
	    }
	}	
}