.header {
	padding:0;
	background: $med-brwn;

	&.home {
		background: $med-brwn url('../images/starsheader.gif') repeat-x 48.5% 0;
		/* 1.5 dpr */
		@media 
		(-webkit-min-device-pixel-ratio: 1.5), 
		(min-resolution: 144dpi){ 
			background: $med-brwn url('../images/starsheader-hd.gif') repeat-x 48.5% 0;
			background-size: 491px;
		}
	}

	& .wrap.home {
		height: 130px;
	}
}

.logolink {
	margin: 40px 0 0;
	text-align:left;
	display:block;
	overflow:hidden;
	width:234px;
	height:57px;
	text-indent:-9999em;
	background: transparent url('../images/logo.png') no-repeat 0 0;

	/* 1.5 dpr */
	@media 
	(-webkit-min-device-pixel-ratio: 1.5), 
	(min-resolution: 144dpi){ 
		background: transparent url('../images/logo-hd.png') no-repeat 0 0;
		background-size: 234px;
	}

	&.small {
		float:left;
		margin: 10px 0 0;
		height: 20px;
		background-size: 81px;
		width: 82px;		
	}
}

.navwrap {
	background: $drk-brwn;
	width:100%;
	height:40px;
}

.ancmnts-tog {
	text-align:right;

	.wrap {
		height: 30px;
	}
	
}

.open .ancmnts-tog {
	.tog-open {

	}
	.tog-closed {
		display:none;
	}
}

.closed .ancmnts-tog {
	.tog-open {
		display:none;
	}
	.tog-closed {
	}
}

.ancmnts-tog {
	
	position:relative;

	.tog-open {
		background:$creme-2;

		.icon-up{
			text-align:center;
			height:30px;
			cursor:pointer;
		}

		.icon-up:before {
			line-height: 30px;
			font-size: .875em;
		}

		.icon-font{

			display:block;
			position: absolute;
			margin: 11px 0 0;
			width: 100%;

			&:before {
				content: '\e807'; 
				margin: 0;
				width: 100%;
				text-align: center;
			}

		}

	}

	.tog-closed {
	
		background:transparent;
		height: 30px;
		line-height: 30px;
		position: absolute;
		top: 0;
		right: 0;
		width:100%;
		
		a {
			display:inline-block;
			margin: 0 auto;
			font-family: $font-secondary;
			font-style:italic;
			text-decoration:none;
			font-size:.8125em;
			letter-spacing: .03em;
			height: 30px;
			line-height: 30px;
		}

	}
}
