/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.menu-top-menu-container {
	margin: 0 auto;	

}

.nav {
	text-align:right;
	position:relative;
	float: right;
	margin-right: -1rem;
	font-weight:300;


	@media all and (max-width: $bp-med) {
		display: none;
		margin: 0;
		overflow: hidden;
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
	}


	ul{
		z-index:10;
		position:relative;

	}

	li {
		display:inline-block;
		background: $drk-brwn;
		z-index:10;
		margin: 0;
		position:relative;
		
		a {
			display:inline-block;
			height:40px;
			line-height:40px;
			text-decoration: none;
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: $creme;
		}

		&.menu-item-has-children:hover a {
		}

		&.rss .text {

			position: absolute;
			top: -9999px;
			left: -9999px;

		}


		@media all and (max-width: $bp-med) {
			display:block;
			margin:0;
			text-align:center;
			width:100%;
			background:$med-brwn;
		}
	}

	a {
		padding: 0 $pad;
		font-family: $font-secondary;
		font-size:0.85em;
		color: $creme;
		text-transform: uppercase;
		letter-spacing:.03em;

		&:hover, &:focus {
			background:$med-brwn;
			color: $creme;

			@media all and (max-width: $bp-med) {
				background:$gold;
				color: $drk-brwn;
			}
		}	

		@media all and (max-width: $bp-full) {
			padding: 0 $padpx/2;
		}
		@media all and (max-width: $bp-large) {
			padding: 0 $padpx/3;
		}
		@media all and (max-width: $bp-med) {
			display:block;
			margin:0;
			width:100%;
		}



	}

	&.active {
		max-height: 40em;
	}

}
.nav-toggle {
	display:block;
	float:right;
	width: 40px;
	height:40px;
	color:$creme;
	display:none;
	
	.icon-menu:before{
		width: 50px;
		height: 40px;
		line-height: 40px;

	}

	@media all and (max-width: $bp-med) {
		display: inline-block;
	}



}
.comic-nav {
	clear:both;
	padding: 0 35px;
	margin: $padpx 0 $padpx-double;
	width:100%;
	font-weight:400;
	position:relative;

	@media all and (max-width: $bp-full) {
		padding: 0;
 		margin: $padpx auto $padpx-double;
 		width:60%;

   }
	@media all and (max-width: $bp-large) {
 		width:75%;

	}
	@media all and (max-width: $bp-med) {
 		//width:90%;

	}
	@media all and (max-width: $bp-small) {
 		width:90%;

	}

    .center {
	
		@media all and (max-width: $bp-full) {

	    	display:block;
			width: 101%;
			padding-top: 5px;
			clear:both;

		}

    }

	div.li {
		font-family:$font-secondary;
		text-transform:uppercase;
		display:inline-block;
		position:relative;
		float:left;
		width:20%;
		text-align:center;
		font-size:.875em;
		height: 44px;

		&.next, &.previous {
			width:26%;

			@media all and (max-width: $bp-full) {

				width: 50%;
				height:48px;

			}			
		}

		&.next {

			@media all and (max-width: $bp-full) {

		    	display:block;
				top: 0;
				right: 0;
				position:absolute;

			}

		}

		&.first, &.latest, &.chapters {
			width:16%;

			@media all and (max-width: $bp-full) {
				width: 33%;
				height:48px;
			}			
		}

		.st0 {
			fill:$med-brwn-lt;
		}

		&:hover .st0 {
			fill:$drk-brwn;
		}


		a, span {
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			line-height:44px;
			height:100%;
			text-decoration:none;

			@media all and (max-width: $bp-full) {
		 		line-height:48px;
			}
			@media all and (max-width: $bp-large) {
		 		line-height:41px;
			}

			&:hover{
				color:$creme;
			}
		}

		&.inactive {

			.st0 {
				fill:$med-brwn-lt;
			}
			a, span {
				color:$med-brwn;
			}

		}
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $padpx;
	}
}